<section class="trending-movies mt-8">
  <h2 class="text-lg font-bold text-white">Trending Movies</h2>
  <div *ngIf="(trendingMovies$ | async) as trendingMovies">
    <div class="flex overflow-x-auto space-x-4 p-4" #trendingMoviesContainer>
      <div *ngFor="let movie of trendingMovies" class="movie-card relative w-64 flex-shrink-0">
        
        <img [src]="movie.thumbnail.regular.large" alt="{{ movie.title }}" class="w-full h-auto rounded-lg" />

        
        <div class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
          <img src="assets/icon-play.svg" alt="Play" class="w-12 h-12 opacity-90" />
        </div>

        
        <div class="absolute top-2 right-2">
          <img [src]="movie.isBookmarked ? 'assets/icon-bookmark-full.svg' : 'assets/icon-bookmark-empty.svg'" alt="Bookmark" class="w-6 h-6" />
        </div>

        
        <div class="mt-2 text-white flex justify-left gap-4 items-center">
          <p class="text-sm opacity-75">{{ movie.year }}</p>
          <p class="text-sm"><img src="assets/icon-category-movie.svg" alt="Movie" class="inline w-4 h-4" /> Movie</p>
          <p class="text-sm">{{ movie.rating }}</p>
        </div>
        <h3 class="font-bold text-white">{{ movie.title }}</h3>
      </div>
    </div>
  </div>
</section>
