<div class="app-layout lg:flex bg-slate-950">
 
  <app-sidebar class="lg:w-20 lg:h-screen lg:sticky lg:top-0 w-full"></app-sidebar>

  
  <div class="main-content-container flex-1 p-6">
   
    <app-searchbar (searchTermChange)="onSearchChange($event)"></app-searchbar>

   
    <section class="bookmarked-movies mt-8">
      <h2 class="text-lg font-bold text-white">Bookmarked Movies</h2>
      <div *ngIf="filteredMovies.length > 0">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <div *ngFor="let movie of filteredMovies" class="movie-card relative">
            <img [src]="movie.thumbnail.regular.medium" alt="{{ movie.title }}" class="w-full h-auto rounded-lg" />
            <div class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
              <img src="assets/icon-play.svg" alt="Play" class="w-12 h-12 opacity-90" />
            </div>
            <div class="absolute top-2 right-2">
              <img [src]="movie.isBookmarked ? 'assets/icon-bookmark-full.svg' : 'assets/icon-bookmark-empty.svg'" alt="Bookmark" class="w-6 h-6" />
            </div>
            <div class="mt-2 text-white flex justify-left gap-4 items-center">
              <p class="text-sm opacity-75">{{ movie.year }}</p>
              <p class="text-sm"><img src="assets/icon-category-movie.svg" alt="Movie" class="inline w-4 h-4" /> Movie</p>
              <p class="text-sm">{{ movie.rating }}</p>
            </div>
            <h3 class="font-bold text-white">{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="filteredMovies.length === 0" class="text-center text-white">
        No bookmarked movies found
      </div>
    </section>

    
    <section class="bookmarked-tv-series mt-8">
      <h2 class="text-lg font-bold text-white">Bookmarked TV Series</h2>
      <div *ngIf="filteredTvSeries.length > 0">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <div *ngFor="let tvSeries of filteredTvSeries" class="tv-series-card relative">
            <img [src]="tvSeries.thumbnail.regular.medium" alt="{{ tvSeries.title }}" class="w-full h-auto rounded-lg" />
            <div class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity">
              <img src="assets/icon-play.svg" alt="Play" class="w-12 h-12 opacity-90" />
            </div>
            <div class="absolute top-2 right-2">
              <img [src]="tvSeries.isBookmarked ? 'assets/icon-bookmark-full.svg' : 'assets/icon-bookmark-empty.svg'" alt="Bookmark" class="w-6 h-6" />
            </div>
            <div class="mt-2 text-white flex justify-left gap-4 items-center">
              <p class="text-sm opacity-75">{{ tvSeries.year }}</p>
              <p class="text-sm"><img src="assets/icon-category-tv.svg" alt="TV Series" class="inline w-4 h-4" /> TV Series</p>
              <p class="text-sm">{{ tvSeries.rating }}</p>
            </div>
            <h3 class="font-bold">{{ tvSeries.title }}</h3>
          </div>
        </div>
      </div>
      <div class="text-center text-white">
        No bookmarked TV series found
      </div>
    </section>
  </div>
</div>
