
.bgcolor {
    background-color: #121826; 
}


.containerbg {
    background-color: #1E2438; 
    border-radius: 10px;
}


input[type="email"], 
input[type="password"] {
    border: none;
    border-bottom: 2px solid #5A698F; 
    background-color: transparent;
    color: #ffffff;
    padding: 10px 0;
    outline: none;
    width: 100%;
    font-size: 16px;
}

input[type="email"]:focus, 
input[type="password"]:focus {
    border-bottom-color: #f00; 
}

input::placeholder {
    color: #5A698F; 
}


button {
    background-color: #f00; 
    color: #ffffff; 
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff; 
    color: #f00; 
}


.text-red-500 {
    color: #f00;
    font-size: 12px;
}
