<div class="sidebar-container flex lg:flex-col justify-between items-center bg-[#161D2F] p-4 fixed top-0 lg:left-0 h-16 lg:h-screen w-full lg:w-20 z-50">
  <!-- Logo -->
  <div class="logo">
    <img src="assets/logo.svg" alt="Logo" class="w-8 lg:w-10" />
  </div>

  <!-- Navigation Icons -->
  <nav class="flex lg:flex-col space-x-6 lg:space-x-0 lg:space-y-6">
    <a routerLink="/home" routerLinkActive="active-link" class="nav-link group">
      <img src="assets/icon-nav-home.svg" alt="Home" class="w-8 lg:w-6 mx-auto group-hover:bg-red-500 rounded-md p-2 transition-all" />
    </a>

    <a routerLink="/movies" routerLinkActive="active-link" class="nav-link group">
      <img src="assets/icon-nav-movies.svg" alt="Movies" class="w-8 lg:w-6 mx-auto group-hover:bg-red-500 rounded-md p-2 transition-all" />
    </a>

    <a routerLink="/tv-series" routerLinkActive="active-link" class="nav-link group">
      <img src="assets/icon-nav-tv-series.svg" alt="TV Series" class="w-8 lg:w-6 mx-auto group-hover:bg-red-500 rounded-md p-2 transition-all" />
    </a>

    <a routerLink="/bookmarked" routerLinkActive="active-link" class="nav-link group">
      <img src="assets/icon-nav-bookmark.svg" alt="Bookmarked" class="w-8 lg:w-6 mx-auto group-hover:bg-red-500 rounded-md p-2 transition-all" />
    </a>
  </nav>

  <!-- User Avatar -->
  <div class="user-avatar">
    <img src="assets/image-avatar.png" alt="User Avatar" class="w-8 lg:w-10 rounded-full" />
  </div>
</div>
