<div class="sidebar-container flex flex-col justify-between h-full bg-gray-900 p-4">
    <!-- Logo -->
    <div class="logo mb-10">
      <img src="assets/logo.svg" alt="Logo" class="w-10 mx-auto" />
    </div>
  
    <!-- Navigation Icons -->
    <nav class="flex flex-col space-y-6">
      <a href="#" class="nav-link">
        <img src="assets/icon-nav-home.svg" alt="Home" class="w-6 mx-auto" />
      </a>
      <a href="#" class="nav-link">
        <img src="assets/icon-nav-movies.svg" alt="Movies" class="w-6 mx-auto" />
      </a>
      <a href="#" class="nav-link">
        <img src="assets/icon-nav-tv-series.svg" alt="TV Series" class="w-6 mx-auto" />
      </a>
      <a href="#" class="nav-link">
        <img src="assets/icon-nav-bookmark.svg" alt="Bookmarked" class="w-6 mx-auto" />
      </a>
    </nav>
  
    <!-- User Avatar -->
    <div class="user-avatar mt-10">
      <img src="assets/image-avatar.png" alt="User Avatar" class="w-8 h-8 mx-auto rounded-full" />
    </div>
  </div>
  
