/* Active State for the Icons */
.active-link img {
  background-color: white;
  color: black;
  border-radius: 0; /* Remove any rounding */
  padding: 0.5rem; /* Adds padding to match icon spacing */
}
