<div class="movies-page-container">
    <!-- Search Bar -->
    <app-searchbar (searchTermChange)="onSearchChange($event)"></app-searchbar>
  
    <!-- Movies Section -->
    <section class="movies-list mt-8">
      <h2 class="text-lg font-bold">Movies</h2>
      <div *ngIf="filteredMovies.length > 0">
        <div class="grid grid-cols-4 gap-4">
          <div *ngFor="let movie of filteredMovies" class="movie-card">
            <img [src]="movie.thumbnail.regular.medium" alt="{{ movie.title }}" class="w-full h-auto" />
            <h3 class="text-center text-white mt-2">{{ movie.title }}</h3>
          </div>
        </div>
      </div>
  
      <!-- No results found message -->
      <div *ngIf="filteredMovies.length === 0" class="text-center text-white">
        No movies found
      </div>
    </section>
  </div>
  
